{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
    <div class="starter-template">
        <h1>Symfony4 starter</h1>
        <p class="lead">Use this project as a way to quickly start any new project.<br>
            You get security, fixtures, cruds and bootstrap.
        </p>
    </div>
{% endblock %}
